name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 3
      matrix:
        python-version: ["3.11"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip --no-cache-dir
        pip install --no-cache-dir Django==5.2.4 djangorestframework==3.16.0 django-tailwind==4.2.0 channels==4.3.1 Pillow==10.4.0 whitenoise==6.9.0

    - name: Run migrations
      run: |
        python manage.py migrate

    - name: Run Django tests
      run: |
        python manage.py test
